@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html::-webkit-scrollbar{
    width: 1vw;
}

html::-webkit-scrollbar-track{
    background-color: #212121;
}

html::-webkit-scrollbar-thumb{
    background-color: #303030;
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover{
    background-color: #353535;
    cursor: grab;
}

*{
    margin: 0;
}

body{
    background: #1b1b1b;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.uni{
    background-image: url(./assets/bubblebackground.png);
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: hidden;
    height: 94vh;

}

.unishop{
    margin: 20px 0 20px 0;
    background-image: url(./assets/bubblebackground.png);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    flex: 1 2 auto;
    justify-content: space-evenly;
    gap: 20px;
    width: auto;
    height: 100%;
    overflow-wrap: wrap;
}

.shopcont{
    height: 400px;

    gap: 20px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 2 2 auto;
}

.shopitem{
    display: grid;
    grid-template-columns: 
    "label label"
    "shop-preview shop-preview"
    "cont cont";
    background-color: #1b1b1b;
    height: 400px;
    width: 350px;
    max-width: 500px;
    border-radius: 25px;
    border: solid 2px #323232;
    flex: 1 2 350px;
    transition: .2s all;
}

.shopitem > .label{
    text-align: center;
    margin-top: 5px;
}

.shopitem > .btn{
    justify-self: center;
    width: 150px;
}

.shopitem > .banEl{
    justify-self: center;
}

.shopitem:hover{
    width: 360px;
    height: 412px;
    border-color: #606060;
    cursor: grabbing;
}

.shop-preview{
    width: 100%;
    height: auto;
    flex: 1 1 auto;
    -webkit-box-reflect: below -14px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.514));
}

.banner{
    display: flex;
    flex: row;
    justify-content: space-between;
    background: #212121;
    width: 100%;
    height: 60px;
    align-self: center;
}

.banEl{
    align-self: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #707070;
    text-decoration: none;
}

.logo{

}

.frontlayer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 1px;
    z-index: 9;
    flex: 0 0 1;
}

.imagemain{
    background-image: url(./assets/bubbleban2.png);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 294px;
    flex: 0 0 1;
}

#logdiv{
    width: 110px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    
}

.logbtn, .regbtn{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #606060;
    background: none;
    box-shadow: none;
    border: none;
}

.logbtn:hover, .regbtn:hover{
    cursor: pointer;
}

.loginbox{
    display: inline-block;
    height: 0px;
    width: 0px;
    justify-self: flex-end;
    align-self: flex-start;
    background-color: #212121;
    border-radius: 20px;
    margin-right: 10px;
    transition: 0.2s all;
    margin-bottom: 5px;
}

.loginbox:active{
    height: 280px;
    width: 250px;
    margin-right: 10px;
    border: 2px solid #313131;
}

.loginbox *{
    margin-left: 25px;
    margin-top: 5px;
}

.loginbox .label{
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
}

.loginbox .textbox{
    align-self: flex-start;
    margin-left: 20px;
    width: 180px;
    height: 30px;
    border-radius: 15px;
}

.loginbox .btn{
    width: 200px;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 30px;
    border: 3px solid #404040
}

#splash{
    flex: 100 0 100;
    align-self: center;
    display: inline-block;
    margin: none;
    border: none;
    padding: none;
}

.minfo{
    background: #212121;
    height: 100%;
}

.minfo .label{
    color: #1b1b1b;
}

.infocards{
    display: flex;
    justify-content: space-around;
}

.card{
    flex: 0 10 auto;
    align-content: center;
    height: 400px;
    background-color: #1B1B1B;
    width: 300px;
    background-image: url(./assets/bubblelarge.png);
    border-radius: 25px;
    border: 3px solid #303030;
    margin: 10px;
}

.card > .label,
.card > .icon{
    color: white;
    align-self: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

#cardfirst{
    margin-left: 100px;
}

#cardthird{
    margin-right: 100px;
}

.info{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: rgb(200, 200, 200);
    align-self: center;
    text-align: center;
    margin: 10px;
    flex: 1 2 1;
}


.waveform{
    display: flex;
    background-color: #1b1b1b;
    background-image: url(./assets/svgtext.png);
    background-repeat: no-repeat;
    height: auto;
}

#svgbottom{
    background-image: url(./assets/bubblesvg.png);
}

.path{
    flex-grow: 1;
}

.cont{
    /*Flex properties*/
    display: flex;
    flex-direction: column;
}

.label, .icon{
    font-weight: bold;
    font-size: 35px;
    color: white;
    align-self: center;
}

.label{
    font-family: 'Quicksand', sans-serif;
}

.icon{
    font-size: 50px;
    align-self: center;
    text-align: center;
}

.contBtns{
    /*Flex properties*/
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 20px;
}

.textbox{
    align-self: center;
    width: 300px;
    height: 40px;

    background-color: #1B1B1B;
    box-shadow: none;
    border: solid 2px;
    border-radius: 25px;
    border-color: #323232;
    padding-left: 15px;
    color: #606060;
    outline: none;

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 15px;

    transition: .3s all;
}

.textbox:hover{
    border-color: #58a0c2;
    box-shadow: 0 0 3px #58a0c2;
    color: #b6b6b6;
}

.textbox:focus{
    border-color: #239fd8;
    box-shadow: 0 0 5px #239fd8;
    color: white;
}

.btn{
    width: 50px;
    height: 45px;
    background-color: #1b1b1b;
    border-radius: 25px;
    border: solid 2px #323232;
    color: #606060;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 15px;
    outline: none;

    transition: .3s all;
}

.bar{
    width: 260px;
}

.btn:hover{
    border-color: rgb(75, 223, 75);
    box-shadow: 0 0 10px rgb(75, 223, 75);
    color: white;
    cursor: grabbing;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #101010;
    height: 100px;
}

.footer > *{
    align-self: center;
}

.footer :first-child, .banner :first-child{
    margin-left: 20px;
}

.footer :last-child{
    margin-right: 20px;
}

.img{
    width: 300px;
    align-self: center;
}
